* {
  box-sizing: border-box;
}

form, .movie-card {
  padding: 20px;
  width: 300px;
  border: 3px solid black;
  border-radius: 10px;
}

.current-rating {
  margin-left: 120px;
}

.movie-card {
  cursor: pointer;
}

.movie-card h3 {
  display: inline-block;
  margin: 0;
}

.card-rating {
  float: right;
}

.card-image {
  width: 30%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}

.card-genre {
  float: right;
  margin: 0;
}

.correctlyFormatedTitle{
  color: red;
  margin-top: 0px;
}
